@import 'variables';

:local {
  .picker {
    height: calc(100% - (#{$border--width} * 2));
    overflow: hidden;

    .scrollContainer {
      overflow: scroll;
      height: 100%;
      padding: $padding--standard / 2;
    }

    .category {
      padding-bottom: $padding--standard / 2;

      h4 {
        margin: 0;
        margin-bottom: 0.5em;
      }
    }
    .categoryItems {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
    }
    /*
     * would rather this specifically target .item, but
     * https://github.com/css-modules/css-modules/issues/147
     */
    .categoryItems > div {
      margin-right: $padding--standard / 2;
      margin-bottom: $padding--standard / 2;
    }
  }
}
