@use 'sass:math';
@import 'variables';

:local {
  .picker {
    height: calc(100% - (#{$border--width} * 2));
    overflow: hidden;

    .scrollContainer {
      overflow: scroll;
      height: 100%;
      padding: math.div($padding--standard, 2);
    }

    .category {
      padding-bottom: math.div($padding--standard, 2);

      h4 {
        margin: 0;
        margin-bottom: 0.5em;
      }
    }
    .categoryItems {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
    }
    .item {
      margin-right: math.div($padding--standard, 2);
      margin-bottom: math.div($padding--standard, 2);
    }
  }
}
