$headerFlowerHeight: 44px;
$headerFlowerWidth: 56px;

$height--header: $headerFlowerHeight;
$padding--standard: 32px;
$border--width: 12px;

$fontFamily--pokemon: 'pkmnrs', monospace, sans-serif;

$color-white: #fff;
$color-green: #73bfa1;
