@import '_reset';

@font-face {
  font-family: 'pkmnrs';
  src: url(/assets/pkmnrs.otf);
}

body {
  font-family: 'pkmnrs', monospace, sans-serif;
  background-image: url(/assets/grass.png);
  font-size: 13px;
  height: 100%;
  line-height: 1.25;
}

// $gridSpacing
