@import 'reset';
@import 'variables';

@font-face {
  font-family: 'pkmnrs';
  src: url(../fonts/pkmnrs.otf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h3 {
  text-transform: uppercase;
  font-size: 1.25em;
}

a {
  color: $color-green;
}
