@use 'sass:math';
@import 'variables';

:global {
  * {
    box-sizing: border-box;
  }

  body {
    font-family: $fontFamily--pokemon;
    background-image: url(./grass.png);
    font-size: 13px;
    height: 100%;
    line-height: 1.25;
  }

  .border {
    border-style: solid;
    border-width: $border--width;
    border-image: url(./border.png) 12 16 12 fill round;
  }
}

:local {
  .app {
    padding: $padding--standard;
    display: flex;
    flex-direction: column;
    height: calc(100vh - (#{$padding--standard} * 2));

    .top {
      display: flex;
      justify-content: space-between;
      margin-bottom: math.div($padding--standard, 2);
      min-height: $height--header;
      align-items: center;
    }

    .main {
      display: flex;
      height: 100%;
      position: relative;

      .column {
        display: flex;
        flex-direction: column;
      }
      .columnLeft {
        flex: 0 1 auto;
        margin-right: $padding--standard;
      }
      .columnRight {
        flex: 1 0 auto;
        justify-content: space-between;
      }
    }

  }
}
