:local {
  .basePicker {
    margin-bottom: 1em;
    flex: 0 0 200px;

    .selectValue {
      span {
        display: inline-block;
        vertical-align: -1px;
      }
      img {
        width: 16px;
        vertical-align: -4px;
        margin-right: 8px;
      }
    }
  }
}
