@import 'mixins';

:local {
  .base {
    position: relative;
  }
  .image {
    position: relative;
    display: block;
    @include pixelated;
  }
  .items {
    position: absolute;
    top: 0;
    left: 0;
  }
  .items {
  }
}
