@import 'variables';
@import 'mixins';

:local {
  .header {

    h1 {
      font-size: 3em;

      &:before,
      &:after {
        content: '';
        height: $headerFlowerHeight;
        width: $headerFlowerWidth;
        display: inline-block;
        background-image: url(./flower.png);
        vertical-align: -6px;
        @include pixelated;
      }
      &:before {
        margin-right: 0.5em;
      }
      &:after {
        margin-left: 0.4em;
      }
    }

  }
}
