@use 'sass:math';
@import 'variables';
@import 'mixins';

:local {
  .container {
    margin-bottom: math.div($padding--standard, 2);
    display: flex;
    flex-grow: 0;
  }

  .options {
    padding: 4px 8px;

    h3 {
      margin-bottom: 0.25em;
    }
  }

  .field {
    display: block;

    input[type=checkbox] {
      margin-right: 5px;
    }
  }

  .controls {
    margin-left: auto;
  }

  .iconButton {
    font-family: $fontFamily--pokemon;
    padding: 0 4px;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    span {
      text-transform: uppercase;
    }

    &:before {
      content: '';
      width: 64px;
      height: 64px;
      display: block;
      background-position: center center;
      background-repeat: no-repeat;
      margin-bottom: 8px;
      @include pixelated;
    }
  }

  .saveButton {
    position: relative;

    &:before {
      background-image: url(./laptop.png);
    }
    &Active:before {
      background-image: url(./laptop_blink.gif);
    }

    &:after { // preload laptop_blink.gif
      content: '';
      position: absolute;
      right: -9999px;
      background-image: url(./laptop_blink.gif);
    }
  }

  .saveButtonErrorOverlay {
    position: absolute;
    width: 30px;
    height: 12px;
    left: 21px;
    top: 17px;

    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: darkred;
      mix-blend-mode: color;
    }
  }

  .shareButton {
    &:before {
      background-image: url(./pokeball.png);
      background-size: auto 40px;
      background-position: center 16px;
    }
  }

  .clearButton {
    &:before {
      background-image: url(./trash.png);
      background-size: auto 48px;
    }
  }

}
