@import 'variables';
@import 'mixins';

:local {
  .container {
    margin-bottom: $padding--standard / 2;
    display: flex;
  }

  .options {
    padding: 4px 8px;

    h3 {
      margin-bottom: 0.25em;
    }
  }

  .field {
    display: block;

    input[type=checkbox] {
      margin-right: 5px;
    }
  }

  .controls {
    margin-left: auto;
  }

  .iconButton {
    font-family: $fontFamily--pokemon;
    text-transform: uppercase;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    vertical-align: 28px;

    &:before {
      content: '';
      width: 64px;
      height: 64px;
      display: block;
      background-position: center center;
      background-repeat: no-repeat;
      margin-bottom: 8px;
      @include pixelated;
    }
  }

  .saveButton {
    &:before {
      background-image: url(./laptop.png);
    }
    &Active:before {
      background-image: url(./laptop_blink.gif);
    }

    &:after { // preload laptop_blink.gif
      content: '';
      position: absolute;
      right: -9999px;
      background-image: url(./laptop_blink.gif);
    }
  }

  .shareButton {
    &:before {
      background-image: url(./pokeball.png);
      background-size: auto 40px;
      background-position: center 16px;
    }
  }

  .clearButton {
    &:before {
      background-image: url(./trash.png);
      background-size: auto 48px;
    }
  }

}
